.corfundo {
    background-color:#e0aaff !important;
}

.card-body{
    background-color:#7b2cbf !important;
    color:#fff !important;
    /*#margin-top: 10px;*/
}

.btn-primary{
    background-color:#10002b !important;
    --bs-btn-border-color: #5a189a !important;
}

.card-header{
    text-align: center;
    color: #fff;
}

.card{
    background-color:#5a189a
}

.btn-secondary{
    background-color: #10002b !important;
    color: #fff !important;
}

.logotipo{
    background-image: none;
    background-position: 10px;

}